@model Micro_social_platform.Models.Profile
<a class="btn btn-info mt-3 mb-3 " href ="/Profiles/New">Create a Profile</a>
@if (ViewBag.Msg != null)
{
    <div class="alert alert-success" role="alert">
        @ViewBag.Msg
    </div>

}
@foreach (var profile in ViewBag.Profiles)
{
    <div class="card" >
        <div class="card-body">
            <div class="d-flex flex-column mt-5" style="gap:30px">
            
            <img style="width:150px" src="@profile.ProfilePicture" class="card-img-top">
                <h3 class="card-title py-3 px-3 rounded-2"><i class="bi bi-person-fill"></i>@profile.User.UserName</h3>
            </div>
            <div class="d-flex flex-row justify-content-between mt-5 ">
                <a class="btn btn-outline-info" href="/Profiles/Show/@profile.ProfileId">See profile</a>
               @* <a class="btn btn-outline-danger" href="/Profiles/Delete/@profile.ProfileId">Delete profile</a>*@
                @if (ViewBag.AfisareButoane == true && profile.UserId == ViewBag.UserCurent || ViewBag.EsteAdmin == true)
                {
                    <form method="post" action="/Profiles/Delete/@profile.ProfileId">
                    <button class="btn btn-outline-info" type="submit">Delete Profile</button>
                </form>
                }
                
                
           </div>
        </div>
    </div>
    <br />
    <br />
}

               @* Afisarea paginata a profilurilor *@

<div>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link" href="@ViewBag.PaginationBaseUrl=1" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>

            @for (int i = 1; i <= ViewBag.lastPage; i++)
            {
                <li class="page-item"> <a class="page-link" href="@ViewBag.PaginationBaseUrl=@i">@(i)</a> </li>
            }
            
            <li class="page-item">
                <a class="page-link" href="@ViewBag.PaginationBaseUrl=@(ViewBag.lastPage)" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div
