@model Micro_social_platform.Models.Article

<form method="post" action="/Articles/Edit/@Model.Id">
    <br />
    <div class="card ">
        <div class="card-header text-center" style="font-family: 'Trocchi', serif; font-size:30px">
           Edit post
        </div>
        <div class="card-body">
            <blockquote class="blockquote mb-0">
                @Html.Label("Title","Change title")
                <br />
                @Html.EditorFor(m => m.Title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(m => m.Title, null, new {@class = "text-danger" })
                <br />
                @Html.Label("Content", "Modify content")
                <br />
                @Html.TextArea("Content", null, new { @class = "form-control" })
                @Html.ValidationMessage("Content", null, new { @class ="text-danger" })
                <br />
                @Html.HiddenFor(m => m.Date)
                <br />
                <button class="btn btn-success" type="submit">Edit article</button>
            </blockquote>
        </div>
    </div>
   
</form>