@if (ViewBag.Msg != null)
{
    <div class="alert alert-success" role="alert">
       @ViewBag.Msg
    </div>
}
@foreach (var article in ViewBag.Articles)
{
    <div class="card" style="background-color:#f5f6fa" >
        <div class="card-body">
            <center>
           <h3 class="card-title py-3 px-3 rounded-2" style="font-family: 'Trocchi', serif;" ><i class="bi bi-airplane"></i>@article.Title</h3>
            </center>
          <div><i class="bi bi-person-fill"></i> @article.User.UserName</div>
            <div class="d-flex flex-row justify-content-between mt-5 ">
                <a class="btn btn-outline-info" style=" border-radius: 25px;" href="/Articles/Show/@article.Id">See post</a>
                <span><i class="bi bi-calendar-heart"></i>@article.Date</span>
           </div>
        </div>
    </div>
    <br />
    <br />
}
@* Afisarea paginata a articolelor *@

<div>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link" href="@ViewBag.PaginationBaseUrl=1" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>

            @for (int i = 1; i <= ViewBag.lastPage; i++)
            {
                <li class="page-item"> <a class="page-link" href="@ViewBag.PaginationBaseUrl=@i">@(i)</a> </li>
            }
            
            <li class="page-item">
                <a class="page-link" href="@ViewBag.PaginationBaseUrl=@(ViewBag.lastPage)" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div